{{!-- layouts/base.hbs --}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {{#if title}}
        {{title}}
      {{else}}
          Handlebars Test
      {{/if}}
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
  {{> includes/header}}

  {{#>main-block}}{{/main-block}}

  {{> includes/footer}}
  </body>
</html>
