{{!-- layouts/base.hbs --}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
          Handlebars Test
      {{/if}}
    </title>
  </head>
  <body>
  {{> includes/header}}

  {{#>main-block}}{{/main-block}}

  {{> includes/footer}}
  </body>
</html>
