{{!-- pages/about.hbs --}}

{{#> layouts/base title="About"}}
    {{#*inline "main-block"}}
        <h1>About Page</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, nemo?
        </p>
    {{/inline}}
{{/layouts/base}}
