{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home"}}
    {{#*inline "main-block"}}
        <h1>Home Page</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, nemo?
        </p>

        <canvas id="myChart" width="400" height="400"></canvas>
    {{/inline}}
{{/layouts/base}}
