{{!-- pages/index.hbs --}}

{{#>layouts/base title="Home"}}
    {{#*inline "main-block"}}
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, nemo?
        </p>
    {{/inline}}
{{/layouts/base}}