{{> header}}
<p>Hello, {{ username }}!</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, consectetur sunt itaque maiores fuga accusamus
    molestiae veritatis, et, mollitia minus dolores esse dignissimos qui placeat neque cupiditate alias vitae
    voluptates.
</p>
{{> footer}}